<!DOCTYPE html>
<html lang="en" data-ng-app='instagramSearcher'>
<head>
    <meta charset="UTF-8">
    <title>Shorkan's Instagram Searcher</title>
</head>
<body data-ng-controller='InstagramCtrl'>
<header>
    <h1>Shorkan's Instagram Searcher</h1>
</header>
<h3 data-ng-if="message">
    {{message}}
</h3>
<main>
    <form data-ng-submit="findImages()" name="searchForm" novalidate>
        <label for="tag">Tag to search on:</label>
        <input id="tag" type="search" data-ng-model="tag" placeholder="kittens" required>
        <input type="submit" value="Search">
    </form>
    <ul class="images" data-ng-if="results">
        <li data-ng-repeat='result in results'>
            <a href="{{result.link}}" target="_blank">
                <img data-ng-src="{{result.images.low_resolution.url}}" alt="{{result.caption.text}}" title="{{result.caption.text}}" />
            </a>
        </li>
    </ul>
</main>
<footer>
    Version: {{version}}
</footer>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.min.js"></script>
<script src="dist/app.js"></script>
</body>
</html>