<div class="row">
<span ng-transclude class="small-4 large-4 columns logo-wrapper"></span>
<form class="small-8 large-8 columns">
    <div class="row">
        <div class="small-6 columns">
            <input type="text" placeholder="first name" >
        </div>
        <div class="small-6 columns">
            <input type="text" placeholder="last name">
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <input type="email" placeholder="email" >
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <button>Give us yr infoz!</button>
        </div>
    </div>
</form>
</div>