<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body data-ng-app="myApp">
<h1>Challenge Three</h1>
<div data-ng-controller="oneController">
    <table>
        <thead>
        <tr>
            <th data-ng-click="ordering='name'">Country</th>
            <th data-ng-click="ordering='1960'">1960</th>
            <th data-ng-click="ordering='1960'">1970</th>
            <th data-ng-click="ordering='1960'">1980</th>
            <th data-ng-click="ordering='1960'">1990</th>
            <th data-ng-click="ordering='1960'">2000</th>
            <th data-ng-click="ordering='1960'">2010 population</th>
            <th>% growth 1960 - 2010</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="country in countries | orderBy:ordering">
            <td>{{ country.name }}</td>
            <td>{{ country.1960 | number:0 }}</td>
            <td>{{ country.1970 | number:0 }}</td>
            <td>{{ country.1980 | number:0 }}</td>
            <td>{{ country.1990 | number:0 }}</td>
            <td>{{ country.2000 | number:0 }}</td>
            <td>{{ country.2010 | number:0 }}</td>
            <td>{{ (country.2010 - country.1960) / country.1960 * 100 | number:0}}%</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>