<h2>Enter the Meal Details</h2>
<div class="error-message" data-ng-show="errorMessage">
    {{errorMessage}}
    <div data-ng-show="mealForm.baseprice.$error.integer">Base meal price should contain an integer.</div>
    <div data-ng-show="mealForm.taxrate.$error.integer">Tax rate should contain an integer.</div>
    <div data-ng-show="mealForm.tippercentage.$error.integer">Tip percentage should contain an integer.</div>
</div>
<form data-ng-submit="validate()" name="mealForm" class="meal-form" novalidate>
    <div>
        <label>Base Meal Price: $</label><input type="number" data-ng-model="meal.baseprice" name="baseprice" min="0" required smart-float>
    </div>
    <div>
        <label>Tax Rate: %</label><input type="number" data-ng-model="meal.taxrate" name="taxrate" min="0" required smart-float>
    </div>
    <div>
        <label>Tip Percentage: %</label><input type="number" data-ng-model="meal.tippercentage" name="tippercentage" min="0" required smart-float>
    </div>
    <div class="form-buttons">
        <input type="submit" value="Submit"> <button data-ng-click="cancelMeal()">Cancel</button>
    </div>
</form>
<div class="sub charges">
    <h3>Customer Charges</h3>
    <div>
        <span class="label">Subtotal:&nbsp;</span><span class="value">{{chargeSubtotal | currency}}</span>
    </div>
    <div>
        <span class="label">Tip:&nbsp;</span><span class="value">{{chargeTip | currency}}</span>
    </div>
    <div class="charge-total">
        <span class="label">Total:&nbsp;</span><span class="value">{{chargeTotal | currency}}</span>
    </div>
</div>